In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob
from tqdm import tqdm

['dataset_6.csv',
 'dataset_5.csv',
 'dataset_4.csv',
 'dataset_1.csv',
 'dataset_3.csv',
 'dataset_2.csv']

In [13]:
def file_path(path):
    temp = []

    for i in glob(path+".csv"):
        temp.append(i)
    return temp

def data_count(file_list):
    count = 0

    for file in f1:
        temp = pd.read_csv(file)
        count+=temp.shape[0]
    return count

In [14]:
# without feature extraction
f1 = file_path("dataset_*")
print(data_count(f1))

# with feature extraction
f2 = file_path("New folder/data_*")
print(data_count(f2))

447530
447530

In [24]:
f1[0]

'dataset_6.csv'

In [ ]:
har_class = {
                'Cook':0,
                'Eat':1,
                'Phone':2,
                'Read':3,
                'Watch_TV':4
            }

In [45]:
data = pd.read_csv(f1[0])

data.activity.value_counts()

Watch_TV    15189
Read         1298
Phone         894
Cook          605
Eat           130
Name: activity, dtype: int64

In [76]:
r = np.asarray([])
r1 = np.random.rand(128,33)
r2 = np.random.rand(128,33)

print(r1.shape)
print(r2.shape)

(128, 33)
(128, 33)

In [77]:
type(r)

numpy.ndarray

In [78]:
r = r1

In [79]:
r3 = np.concatenate([r,r2],axis=0)

In [80]:
r3.shape

(256, 33)